<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org/" th:fragment="HeaderFrag">
	<ul class="nav justify-content-end">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">HEADER</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/empList}">전체사원조회</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/empInsert}">사원등록</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
</div>